.header {
  background-color: transparent;
  transition: background-color 0.3s linear;
  padding: 45px 0px 20px 0px;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1020;
  margin-bottom: 60px;
  @media (max-width: $md) {
    padding: 15px 0px;
    background-color: $primary;
    margin-bottom: 30px;
  }
  .alt-header & {
    position: fixed;
    width: 100%;
    .header__menu {
      margin-bottom: 0px;
      .menu-item {
        a {
          color: $white;
        }
      }
    }
  }
  .scrolled & {
    background-color: $primary;
    .custom-logo-link {
      display: none;
      &--alt {
        display: block;
      }
    }
    .header__menu {
      margin-bottom: 0px;
      .menu-item {
        a {
          color: $white;
        }
      }
    }
  }
  &__wrapper {
    @extend %container;
    @extend %flex;
    align-items: flex-end;
    @media (max-width: $md) {
      align-items: center;
    }
  }
  .custom-logo-link {
    display: block;
    max-width: 197px;
    @media (max-width: $lg) {
      max-width: 150px;
    }
    @media (max-width: $md) {
      display: none;
    }
    &--alt {
      display: none;
      @media (max-width: $md) {
        display: block;
      }
    }
  }
  &__menu {
    @extend %flex;
    list-style: none;
    margin: 0px;
    padding: 0px;
    transition: right 0.3s linear;
    @media (max-width: $md) {
      right: -100%;
      background-color: $primary;
      position: fixed;
      top: 90px;
      width: 100%;
      height: 100%;
      flex-flow: column;
      justify-content: flex-start;
    }
    &.visible {
      @media (max-width: $md) {
        right: 0px;
      }
    }
    &__toggle {
      display: none;
      color: $white;
      font-size: 40px;
      text-decoration: none;
      @media (max-width: $md) {
        display: block;
      }
    }
    .menu-item {
      margin: 0px 10px;
      font-size: 14px;
      font-weight: 600;
      line-height: 2;
      @media (max-width: $md) {
        margin: 15px;
      }
      a {
        color: $primary;
        text-decoration: none;
        &:hover {
          color: $secondary;
        }
        @media (max-width: $md) {
          color: $white;
        }
      }
    }
  }
}


