.properties {
  @extend %flex;
  align-items: flex-start;
  justify-content: flex-start;
  .filters {
    flex: 0 0 38%;
    width: 38%;
    padding-right: 8%;
    @media (max-width: $md) {
      padding-right: $spacer*2;
      padding-left: $spacer/2;
      flex: 0 0 300px;
      width: 300px;
      left: -300px;
      position: absolute;
      background: $white;
      padding-right: $spacer/2;
      transition: left 0.3s linear;
      padding-bottom: 50px;
      &.open {
        left: 0px;
        .filters__toggle {
          position: absolute;
          left: auto;
          top: 10px;
          right: 10px;
        }
      }
    }

    &__toggle {
      display: none;
      @media (max-width: $md) {
        position: fixed;
        text-align: center;
        padding: 10px 20px;
        font-weight: bold;
        color: $white;
        left: 0px;
        background-color: $secondary;
        top: 91px;
        display: block;
      }
    }
    &__title {
      margin: 0px 0px 20px 0px;
      font-size: 28px;
      font-weight: bold;
      line-height: 2.17;
      letter-spacing: -0.7px;
      color: $primary;
    }
    &__field {
      margin-bottom: 18px;
      &__title {
        margin-top: 0px;
        margin-bottom: 15px;
        display: block;
        flex: 0 0 100%;
        width: 100%;
        font-size: 20px;
        font-weight: bold;
        line-height: 0.85;
        letter-spacing: -0.3px;
        color: $secondary;
      }
      &--price {
        @extend %flex;
        align-items: flex-start;
        .dropdown {
          flex: 0 0 48%;
          margin-right: 4%;
          &:last-of-type {
            margin-right: 0px;
          }
        }
      }
      &--checks {
        label {
          display: block;
          padding: 20px;
          border: 1px solid $secondary;
          border-bottom: 0px;
          font-weight: 600;
          line-height: 1.06;
          letter-spacing: -0.2px;
          color: $primary;
          position: relative;
          cursor: pointer;
          input {
            display: none;
            &:checked + span {
              background-color: $secondary;
            }
          }
          span {
            position: absolute;
            width: 58px;
            height: 100%;
            border-left: 1px solid $secondary;
            right: 0px;
            top: 0px;
            background: url('../images/icon-check.svg') $white no-repeat center center;
          }
          &:last-of-type {
            border-bottom: 1px solid $secondary;
          }
        }
      }
    }
    .button {
      width: 100%;
      display: block;
    }
  }
  .prop-list {
    flex: 0 0 62%;
    width: 62%;
    @media (max-width: $md) {
      padding-right: $spacer/2;
    }
    @media (max-width: $md) {
      flex: 0 0 100%;
      width: 100%;
      padding-left: $spacer/2;
    }
    &__title {
      margin: 0px;
      font-size: 40px;
      font-weight: bold;
      line-height: 1.62;
      letter-spacing: -0.9px;
      color: $primary;
      @media (max-width: $md) {
        font-size: 30px;
      }
    }
    &__text {
      font-family: Poppins;
      font-size: 18px;
      font-weight: 600;
      line-height: 1.2;
      letter-spacing: -0.4px;
      color: $primary;
      margin-bottom: 35px;
      @media (max-width: $md) {
        font-size: 16px;
      }
    }
    &__options {
      margin-bottom: 25px;
      display: flex;
      a {
        font-size: 16px;
        font-weight: 500;
        line-height: 20px;
        letter-spacing: -0.2px;
        color: $primary;
        display: flex;
        align-items: center;
        margin-right:40px;
        svg {
          margin-right: 10px;
        }
        &:hover {
          color: $secondary;
        }
      }
    }
    &__property {
      background-color: $secondary;
      margin-bottom: 25px;
      .prop-list__wrapper {
        @extend %flex;
      }
      &__img {
        flex: 0 0 50%;
        width: 50%;
        @media (max-width: $xs) {
          flex: 0 0 100%;
          width: 100%;
        }
        img {
          display: block;
        }
      }
      &__info {
        flex: 0 0 50%;
        padding: 17px;
        @media (max-width: $xs) {
          flex: 0 0 100%;
          width: 100%;
        }
      }
      &__title, &__location {
        font-size: 22px;
        font-weight: 600;
        line-height: 1.14;
        letter-spacing: -0.2px;
        color: $white;
        margin: 0px;
        @media (max-width: $md) {
          font-size: 18px;
        }
        a {
          color: $white;
          &:hover {
            color: $primary;
          }
        }

      }
      &__address {
        font-size: 18px;
        font-weight: 500;
        line-height: 1.11;
        letter-spacing: -0.3px;
        color: $white;
        max-width: 70%;
        margin-bottom: 18px;
        @media (max-width: $md) {
          font-size: 16px;
        }
      }
      &__desc {
        font-size: 18px;
        font-weight: 500;
        line-height: 1.22;
        letter-spacing: -0.3px;
        color: $primary;
        margin-bottom: 0px;
        @media (max-width: $md) {
          font-size: 16px;
        }
      }
      &:hover {
        .prop-list__property__location,
        .prop-list__property__title {
          color: $primary;
          a {
            color: $primary;
          }
        }
      }
    }
  }
}


.property {
  min-width: 100%;
  min-height: 100%;
  margin-top: -60px;
  margin-bottom: 100px;
  @media (max-width: $md) {
    margin-top: -30px;
  }
  &__intro {
    width: 100%;
    height: 100vh;
    padding: 45px 0px;
    position: relative;
    margin-bottom: 27px;
    &__wrapper {
      @extend %container;
      .button {
        display: inline-block;
      }
      * {
        max-width: 500px;
      }
    }
    &:after {
      content: '';
      position: absolute;
      width: 39px;
      height: 32px;
      bottom: 35px;
      left: 50%;
      transform: translateX(-50%);
      background: url('../images/icon-scroll.svg') no-repeat center center;
      animation: bounce 5s infinite;
    }
  }
  &__title, &__location {
    font-size: 40px;
    font-weight: bold;
    line-height: 1.1;
    letter-spacing: -0.9px;
    color: $white;
    margin: 0px;
    @media (max-width: $xs) {
      font-size: 30px;
    }
  }
  &__location {
    margin-bottom: 21px;
    span {
      color: $secondary;
    }
  }
  &__text {
    font-size: 20px;
    font-weight: 600;
    line-height: 1.2;
    letter-spacing: -0.3px;
    text-align: left;
    color: $white;
    margin-bottom: 50px;
  }
  &__goback {
    font-size: 13px;
    font-weight: 600;
    line-height: 1.31;
    letter-spacing: -0.1px;
    color: $white;
    display: block;
    margin-bottom: 35px;
    svg {
      position: relative;
      margin-right: 5px;
      top: 2px;
    }
    &:hover {
      svg {
        g {
          stroke: $secondary;
        }
      }
    }
  }
  &__wrapper {
    @extend %container;
    @extend %flex;
    align-items: flex-start;
  }
  &__info {
    flex: 0 0 25%;
    width: 25%;
    position: sticky;
    top: 15px;
    padding-right: $spacer;
    @media (max-width: $sm) {
      flex: 0 0 50%;
      width: 50%;
      padding: $spacer/2;
      order: 2;
      position: relative;
    }
    @media (max-width: $xs) {
      flex: 0 0 100%;
      width: 100%;
      padding: $spacer/2 0px;
    }
    &__title, &__location {
      font-size: 14px;
      font-weight: 500;
      line-height: 1.29;
      letter-spacing: -0.2px;
      color: $primary;
      font-weight: bold;
      margin: 0px;
    }
    &__location {
      font-weight: normal;
      margin-bottom: 20px;
    }
    &__features {
      font-size: 12px;
      line-height: 1.33;
      letter-spacing: -0.1px;
      color: $primary;
      &__title {
        color: $secondary;
        margin: 0px;
      }
      p {
        margin: 0px;
      }
    }
  }
  &__data {
    flex: 0 0 50%;
    width: 50%;
    font-size: 18px;
    font-weight: 600;
    line-height: 1.33;
    letter-spacing: -0.1px;
    color: $primary;
    @media (max-width: $sm) {
      flex: 0 0 100%;
      width: 100%;
      padding: $spacer/2 0px;
      order: 1;
    }
    @media (max-width: $xs) {
      flex: 0 0 100%;
      width: 100%;
    }
    p:first-of-type {
      margin-top: 0px;
    }
  }
  &__gallery {
    margin: 0px 0px 65px 0px;
    padding: 0px;
    max-width: 100%;
    column-count: 2;
    column-gap: 29px;
    &__item {
      margin-bottom: 29px;
      display: block;
    }
  }
  &__contact {
    flex: 0 0 25%;
    width: 25%;
    position: sticky;
    top: 15px;
    padding-left: $spacer;
    @media (max-width: $sm) {
      flex: 0 0 50%;
      width: 50%;
      padding: $spacer/2;
      order: 3;
      position: relative;
    }
    @media (max-width: $xs) {
      flex: 0 0 100%;
      width: 100%;
      padding: $spacer/2 0px;
    }
    &__wrapper {
      padding: 10px;
      background-color: $secondary;
    }
    &__title {
      font-size: 18px;
      font-weight: bold;
      line-height: 1.22;
      letter-spacing: -0.2px;
      color: $white;
      margin: 0px 0px 10px 0px;
      span {
        color: $primary;
      }
      &--subtitle {
        font-size: 16px;
      }
    }

    p {
      margin: 0px 0px 7px 0px;
    }
    input[type=email], input[type=text], textarea {
      max-width: 100%;
    }
    label {
      font-size: 10px;
      font-weight: 500;
      color: $white;
    }
    .button {
      text-align: center;
      display: block;
      background-color: $primary;
      width: 100%;
    }
    .reference {
      input {
        background: transparent;
        color: $white;
        padding: 0px;
        display: inline;
        width: 50%;
      }
      &:before {
        display: inline;
        font-size: 14px;
        font-weight: 500;
        color: $white;
        content: "Referencia: ";
      }
    }
    .wpcf7-list-item {
      margin: 0px;
    }
    span.wpcf7-not-valid-tip {
      color: $white;
      font-size: 12px;
    }
    div.wpcf7-validation-errors {
      border: 0px;
      margin: 0px;
      padding: 0px;
      font-size: 14px;
      font-style: italic;
      text-align:center;
    }
    label {
      input[type=checkbox] {
        display: none;
        &:checked + .wpcf7-list-item-label {
          &:before {
            background: url('../images/icon-check-alt.svg') no-repeat center center $white;
            background-size: 70%;
          }
        }
      }
      .wpcf7-list-item-label {
        &:before {
          display: inline-block;
          border: solid 1px $secondary;
          background-color: $white;
          width: 18px;
          height: 18px;
          position: relative;
          top: 4px;
          margin-right: 5px;
        }
      }
    }
  }
  .apartaments {
    @extend %flex;
    &__title {
      font-size: 30px;
      font-weight: bold;
      line-height: 1.1;
      letter-spacing: -0.7px;
      color: $primary;
      margin: 0px 0px 15px 0px;
      span {
        display: block;
        color: $secondary;
      }
      &--subtitle {
        font-size: 20px;
        font-weight: 600;
      }
    }
    &__apartment {
      flex: 0 0 48%;
      width: 48%;
      margin: 30px 2%;
      background-color: $secondary;
      @media (max-width: $xs) {
        flex: 0 0 100%;
        width: 100%;
        margin: 15px 0px;
      }
      &:nth-child(odd) {
        margin-left: 0px;
      }
      &:nth-child(even) {
        margin-right: 0px;
      }
      img {
        width: 100%;
      }
      &__info {
        padding: 15px;
      }
      &__title {
        font-size: 20px;
        font-weight: 600;
        line-height: 1.1;
        letter-spacing: -0.2px;
        color: $white;
        margin: 0px;
        a {
          color: $white;
          &:hover {
            color: $primary;
          }
        }
      }
      &__location {
        font-size: 20px;
        font-weight: 600;
        line-height: 1.1;
        letter-spacing: -0.2px;
        color: $white;
        margin: 0px 0px 15px 0px;
      }
      &__address {
        font-size: 14px;
        font-weight: 500;
        line-height: 1.29;
        letter-spacing: -0.2px;
        color: $white;
        margin: 0px;
      }
      &__desc {
        font-size: 14px;
        font-weight: 500;
        line-height: 1.29;
        letter-spacing: -0.2px;
        color: $primary;
        margin: 0px 0px 15px 0px;
      }
      &__price {
        font-size: 14px;
        font-weight: 600;
        line-height: 1.29;
        letter-spacing: -0.3px;
        text-align: left;
        color: $primary;
        margin: 0px;
        span {
          font-size: 20px;
          line-height: 0.9;
        }
      }
    }
  }
  &--apartment {
    .property {
      &__title {
        width: 100%;
        font-size: 40px;
        font-weight: bold;
        line-height: 1.62;
        letter-spacing: -0.9px;
        color: $secondary;
        margin-bottom: 20px;
        @media (max-width: $md) {
          line-height: 1.04;
          margin: 15px 0px 0px 0px;
        }
        @media (max-width: $xs) {
          font-size: 30px;
        }
      }
      &__info, &__contact {
        top: 160px;
        @media (max-width: $md) {
          top: 0px;
        }
      }
      &__info {
        &__apartment {
          font-size: 14px;
          font-weight: bold;
          line-height: 1.29;
          letter-spacing: -0.2px;
          color: $secondary;
        }
        &__price {
          font-size: 22px;
          font-weight: bold;
          line-height: 0.82;
          letter-spacing: -0.6px;
          text-align: left;
          color: $secondary;
          margin:0px 0px 20px 0px;
        }
        .button {
          font-size: 16px;
          display: block;
          margin: 20px 20px 20px 0px;
          padding: 16px;
          text-align: center;
          @media (max-width: $md) {
            font-size: 15px;
            margin-right: 0px;
          }
        }
      }
    }

  }
}


.featherlight {
  &:last-of-type {
    background-color: rgba($white, 0.9);

  }
  .featherlight-content {
    width: 100%;
    margin: 0px;
    background: transparent;
    text-align: center;
    .caption {
      font-size: 30px;
      font-weight: bold;
      line-height: 2.17;
      letter-spacing: -0.7px;
      color: $secondary;
      @extend %container;
      text-align: left;
    }
  }
  .featherlight-image {
    display: inline-block;
  }
  .featherlight-next, .featherlight-previous {
    span {
      display: block;
      position: absolute;
      top: 50%;
      pointer-events: visible;
      display: block;
      left: 50px;
      width: 50px;
      height: 50px;
      border-left: 2px solid $primary;
      border-top: 2px solid  $primary;
      transform: rotate(-45deg);
      color: transparent;
      font-size: 0px;
    }
    &:hover {
      background-color: transparent;
      span {
        border-color: $secondary;
      }
    }
  }
  .featherlight-next {
    span {
      left: auto;
      right: 50px;
      border-left: 0px;
      border-right: 2px solid $primary;
      transform: rotate(45deg);
    }
  }
  .featherlight-close-icon {
    color: transparent;
    background-color: transparent;
    font-size: 0px;
    width: 98px;
    height: 98px;
    right: 30px;
    top: 0px;
    cursor: pointer;
    @media (max-width: $sm) {
      width: 30px;
      height: 30px;
      right: 10px;
    }
    &:after, &:before {
      content: '';
      position: absolute;
      width: 100%;
      height: 2px;
      left: 0px;
      top: 50%;
      background-color: $primary;
    }
    &:before {
      transform: rotate(-90deg);
    }
    &:hover {
      &:after, &:before {
        background-color: $secondary;
      }
    }
  }
}


