*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
body, input, textarea {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-family: Poppins;
}
body,
html {
  height: 100%;
}

body {
}
img {
  max-width: 100%;
  height: auto;
}
a {
  color: $primary;
  text-decoration: none;
  &:hover {
    color: $secondary;
  }
}
.container {
  @extend %container;
}
